@import '../assets/styles/colors';

.loader {
  height: 24px;
}

.loader span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #FFFFFF;
  margin: 7px 5px;
  opacity: 0;
}

.loader span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

.loader span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}