@import "../assets/vendors/bootstrap/scss/functions";
@import "../assets/vendors/bootstrap/scss/variables";
@import "../assets/vendors/bootstrap/scss/mixins";

.day {
  display: grid;

  .week-button button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }

  .reset-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    
    button:nth-child(1) { grid-column: 1 / 2; }
    button:nth-child(2) { grid-column: 2 / 3; }
    button {
      white-space: normal;
    }
  }

  @for $i from 0 through 6 {
    .day-label-#{$i} { grid-area: day-label-#{$i}; }
    .date-label-#{$i} { grid-area: date-label-#{$i}; }
    .hours-input-#{$i} { grid-area: hours-input-#{$i}; }
    .status-#{$i} { grid-area: status-#{$i}; }
  }

  .reset-buttons { grid-area: reset-buttons; }
  .prev-button { grid-area: prev-button; }
  .next-button { grid-area: next-button; }

  @include media-breakpoint-up(md) {
    grid-template-columns: 0.5fr repeat(7, 1fr) 0.5fr;
    grid-template-rows: 30px repeat(4, auto);
    grid-column-gap: 20px;
    justify-items: center;

    grid-template-areas: 
      "prev-button status-0      status-1      status-2      status-3      status-4      status-5      status-6      next-button"
      "prev-button day-label-0   day-label-1   day-label-2   day-label-3   day-label-4   day-label-5   day-label-6   next-button"
      "prev-button date-label-0  date-label-1  date-label-2  date-label-3  date-label-4  date-label-5  date-label-6  next-button"
      "prev-button hours-input-0 hours-input-1 hours-input-2 hours-input-3 hours-input-4 hours-input-5 hours-input-6 next-button"
      "prev-button reset-buttons reset-buttons reset-buttons reset-buttons reset-buttons reset-buttons reset-buttons next-button"
    ;


    .reset-buttons {
      place-self: center end;
    }
  }

  @include media-breakpoint-only(md) {
    grid-column-gap: 10px;

    .day-label,
    .date-label {
      font-size: 80%;
    }
  }



  @include media-breakpoint-only(sm) {
    grid-template-columns: 20px 1fr auto 1fr 20px;
    grid-template-rows: auto repeat(7, auto) auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;

    grid-template-areas: 
      ". prev-button .  next-button   ."
      ". day-label-0 date-label-0 hours-input-0 status-0"
      ". day-label-1 date-label-1 hours-input-1 status-1"
      ". day-label-2 date-label-2 hours-input-2 status-2"
      ". day-label-3 date-label-3 hours-input-3 status-3"
      ". day-label-4 date-label-4 hours-input-4 status-4"
      ". day-label-5 date-label-5 hours-input-5 status-5"
      ". day-label-6 date-label-6 hours-input-6 status-6"
      "reset-buttons reset-buttons reset-buttons reset-buttons reset-buttons"
    ;

    .day-label {
      justify-self: end;
      margin: 5px 0;
    }
    .date-label {
      justify-self: start;
      margin: 5px 0;
    }

    .hours-input {
      width: auto;
      place-self: center;
    }

    .reset-buttons {
      margin-left: 30px;
      margin-right: 30px;
      place-self: stretch;
    }
  }

    @include media-breakpoint-only(xs) {
    grid-template-columns: 20px 1fr 1fr 20px;
    grid-template-rows: auto auto repeat(14, auto) auto;
    grid-column-gap: 10px;
    justify-items: center;

    grid-template-areas: 
      "............. prev-button   next-button   ........     "
      ".............  day-label-0  hours-input-0 status-0     "
      "............. date-label-0  hours-input-0 status-0     "
      ".............  day-label-1  hours-input-1 status-1     "
      "............. date-label-1  hours-input-1 status-1     "
      ".............  day-label-2  hours-input-2 status-2     "
      "............. date-label-2  hours-input-2 status-2     "
      ".............  day-label-3  hours-input-3 status-3     "
      "............. date-label-3  hours-input-3 status-3     "
      ".............  day-label-4  hours-input-4 status-4     "
      "............. date-label-4  hours-input-4 status-4     "
      ".............  day-label-5  hours-input-5 status-5     "
      "............. date-label-5  hours-input-5 status-5     "
      ".............  day-label-6  hours-input-6 status-6     "
      "............. date-label-6  hours-input-6 status-6     "
      "reset-buttons reset-buttons reset-buttons reset-buttons"
    ;

    .day-label {
      align-self: end;
      margin-top: 5px;
    }
    .date-label {
      align-self: start;
      margin-bottom: 5px;

      > span {
        text-align: center;
      }
    }

    .hours-input {
      width: auto;
      place-self: center;
      margin: 10px 0;
    }

    .reset-buttons {
      margin-left: 30px;
      margin-right: 30px;
      place-self: stretch;
    }
  }

}
