
.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  justify-items: center;

  .day-day-label {
    grid-row: 1 / 2;
  }

  .day-date-label {
    grid-row: 2 / 3;
  }

  .day-input {
    grid-row: 3 / 4;
  }
}